[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
v = {editable = true,version = "*"}

[packages]
flask-sqlalchemy = "===1.0"
flask-wtf = "===0.9.3"
werkzeug = "===0.16.1"
flask-login = "===0.2.7"
passlib = "*"
wtforms = {extras = ["email"],version = "*"}
requests = "*"
flask = "*"
flask-sqalchemy = "*"
sqalchemy = "*"

[requires]
python_version = "3.7"
